<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413081543680-vl2tulkhj3fk6dh1pbj0108a4ftvqpjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413081543680-vl2tulkhj3fk6dh1pbj0108a4ftvqpjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqnkyVyKutALtWqG1apRmnAh7tFqQbY8</string>
	<key>GCM_SENDER_ID</key>
	<string>413081543680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VoteNote.VoteNote</string>
	<key>PROJECT_ID</key>
	<string>vote-note-33e7b</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-note-33e7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413081543680:ios:ca4e547f7f2fc62e3f24e5</string>
</dict>
</plist>